
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
}

p, a {
  font-family: 'Lora', serif;
}

// Color Palette
$grey: #44454A;
$gold: #877350;
$orange: #E37222;
$white: #FFFFFF;
$black: #000000;

// New Styles for disappearing overlay
.tile-container {
  background-color: #2F2F31;
  padding-top: 15px;
  padding-bottom: 15px;

  .tile {
    background-color: #2F2F31;
    color: white;
  }

  .image {
    background: url('https://unsplash.it/200/200') center/cover;
    position: relative;
    min-height: 200px;
  }

  .cover-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .links-container {
    margin-top: 10px;
  }

  .overlay {
    opacity: 0;
    transition: all .2s ease-out;
    background-color: rgba(68, 68, 68, .90);
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

  .description {
    padding-top: 15px;
  }

  .title {
    padding: 10px 5px;
    background-color: #2F2F31;
  }
}

.image:hover .overlay {
  opacity: 1;
}

// Custom helper classes

.white {
  color: $white;
}

.max-height{
  height: 100%;
}
// Web site styles

#app {
  // Background pattern by Carlos Aguilar, found on https://subtlepatterns.com/page/3/
  background-image: url('../images/footer_lodyas.png');
}

.banner{
  position: relative;

  .main-img-container{
    min-height: calc(100vh - 82px);
    height: 100%;
  }

  .catchphrase-div{
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: $white;
  }

  .tagline{
    color: lighten($orange, .4);
    text-align: center;
    font-size: 3em;
    padding: 10px 20px;
    font-family: 'Sahitya', 'serif';
  }

  .catchphrase{
    font-family: 'Sahitya', 'serif';
    font-size: 1em;
  }

  .logo-large{
    display: block;
    margin: 0px auto;
    padding-top: 60px;
  }
}

.top-bar{
  background-color: $black;
  position: relative;
  height: 82px;

  .logo-small{
    width: 60px;
    margin: 10px 10px 10px 20px;
  }

  .top-bar-nav{
    position: absolute;
    right: 10px;
    top: 0px;
    display: flex;
    width: 310px;
    height: 100%;
    align-items: center;
  }

  .normal-link{
    flex:1;
  }

  .social-link{
    flex: .25;
  }

  .top-bar-nav a{
    color: white;
  }
}

.fs-container{
  min-height: 100vh;
}

.footer-nav{
  background-color: black;
  position: relative;
  height: 50px;

  .top-bar-nav{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .normal-link{
    flex: 1;
  }

  .social-link{
    flex: .25;
  }

  .social-link a, .normal-link a{
    color: white;
  }

  .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    color: white;
    margin: 0px;
  }
}

#about{
  background-image: url('../images/about-bg.jpg');
  background-size: cover;
  background-position: top right;
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  margin-bottom: 30px;

  p:first-of-type{
    padding-top: 2em;
  }

  .about{
    font-size: 1.4em;
    padding: .3em;
  }

  .headshot {
    width: 260px;
    border: 8px solid white;
    border-bottom: 60px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    transform: rotate(-2deg);
    display: block;
    margin: 50px auto;
  }

  .headshot-div{
    min-height: 100vh;
    position: relative;
  }

  .tech-skills{
    position: absolute;
    bottom: 10px;
    min-height: 30%;
    background-color: $orange;
    border-radius: 12px;
  }

  .tech-toolbox-header{
    border-bottom: 2px solid darken($orange, 30%);
    color: darken($orange, 30%);
  }

  .tech-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .tech-tool{
    width: 33%;
    color: darken($orange, 30%);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 1.2em;
    padding: 5px 0;
  }
}

#segue{
  .segue-div{
    background-color: $white;
    border: 5px solid $orange;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    min-height: 90vh;
    margin-bottom: 35px;
  }
}

#projects{
  padding-bottom: 30px;
  margin-top: 20vh;

  .btn{
    white-space: normal;
  }

  .project-image-container{
    min-height: 100vh;
    background-image: url('../images/project-image-example.jpg');
    background-size: cover;
    background-position: center center;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
  }

  .projects-header{
    font-size: 60px;
  }

  .projects-header:first-child{
    padding-top: 40vh;
  }

  .project-description-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project{
    height: (100vh * .3);
  }

  .project-thumbnail{
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
  }

  .project-description{
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
  }

  .fa{
    position: absolute;
    bottom: 2px;
    right: 2px;
  }

  .star-wars{
    transition: all .1s ease-in;
    transform-origin: top right;
  }

  .github{
    transition: all .1s ease-in;
    transform-origin: center right;
  }

  .the-standings{
    transition: all .1s ease-in;
    transform-origin: bottom right;
  }

  .project:hover{
    transform: scale(1.8);
    // height: 50vh;
    z-index: 5;
    border: 3px solid $orange;
    border-radius: 6px;
    padding: 0;
  }

  .btn-success{
    background-color: rgba(0,0,0,0);
    border: 3px solid $orange;
    margin-bottom: 20px;
    color: inherit;
    padding: 6px;
  }

  .btn-success:hover{
    background-color: $orange;
    color: $white;
  }

  .thumbnail {
    background-position: top;
    background-size: cover;
  }

  .star-wars-wg{
    background-image: url('../images/star-wars-screenshot.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
  }

  .github-replica{
    background-image: url('../images/github-screenshot.png');
  }

  .the-standings{
    background-image: url('../images/the-standings-screenshot.png');
  }

  .tech-div{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .tech{
    width: 33.33%;
    text-align: center;
  }

  .technologies-used{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $grey;
  }
}

#contact{
  min-height: calc(100vh - 50px);
  background-image: url('../images/the-babies.jpg');
  background-size: cover;
  box-shadow: 0 -3px 8px rgba(0,0,0,.5);

  .contact-header{
    margin: 10vh 0 20vh 0;
    font-size: 60px;
  }

  .fa{
    font-size: 40px;
    color: darken($orange, 30%);
    padding: 30px;
    background-color: $orange;
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    transition: all .25s ease-out;
  }

  .fa:hover{
    padding: 40px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 991px){

  .top-bar-nav{
    flex-wrap: wrap;

    .social-link{
      flex: .8;
      font-size: 1.2em;
    }

    .normal-link, .social-link{
      text-align: center;
    }
  }

  .logo-small{
    display: none;
  }

  .banner .logo-large{
    padding-top: 8px;
    width: 150px;
  }

  .banner .main-img-container{
    margin-top: 100px;
  }

  .top-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .top-bar .top-bar-nav{
    position: static;
    padding: 0 12px;
    width: 100%;
  }

  #about{
    padding-top: 82px;

    .tech-skills{
      position: static;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }

    .tech-tool{
      width: 50%;
      padding: 5px 0;
      font-weight: bold;
      font-size: 1.2em;
      font-family: 'Sahitya', 'serif';
    }
  }

  #projects{
    .fa{
      display: none;
    }

    .project-image-container{
      margin-bottom: 30px;
    }

    .project-description-container{
      display: block;
    }

    .btn{
      white-space: normal;
    }

    .project{
      height: auto;
      transition: none;
      margin-bottom: 30px;
    }

    .project:hover{
      transform: none;
      border: none;
      padding-left: 15px;
      padding-right: 15px;
    }

    .project-thumbnail{
      height: 30vh;
      border-bottom: 1px solid $grey;
    }

    .tech-div{
      margin-bottom: 10px;
    }

    .tech{
      width: 50%;
    }
  }

  #contact{
    min-height: calc(-50px);
    padding-top: 82px;

    .contact-header{
      margin-bottom: 10vh;
    }

    .email{
      word-wrap: break-word;
    }
  }

  .copyright{
    display: block;
    text-align: center;
    padding: 0;
  }

  .footer-nav .top-bar-nav{
    display: none;
  }
}

 @media only screen and (max-width: 480px) {
   .top-bar-nav{
     .normal-link{
       font-size: .8em;
     }
   }

   .banner{
     .logo-large{
       width: 100px;
     }

     .tagline{
       font-size: 2.3em;
     }
   }
 }
