
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
}

p, a {
  font-family: 'Lora', serif;
}

// Color Palette
$grey: #44454A;
$gold: #877350;
$orange: #A25016;
$white: #FFFFFF;
$black: #000000;

// Fonts
// @font-face {
//   font-family: 'Istok Web', sans-serif;
//   name: 'Istok';
// }
//
// @font-face {
//   font-family: 'Lora', serif;
//   name: 'Lora';
// }

// Custom helper classes

.white {
  color: $white;
}

#app {
  // Background pattern by Carlos Aguilar, found on https://subtlepatterns.com/page/3/
  background-image: url('../images/footer_lodyas.png');
}

.banner{
  position: relative;

  .main-img-container{
    min-height: calc(100vh - 82px);
    // background-image: url('https://unsplash.it/g/1170/513/?blur');
    // background-position: center center;
    // background-size: cover;
    background-color: $grey;
    height: 100%;
  }

  .fa-chevron-down{
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: $white;
  }

  .tagline{
    color: $orange;
    text-align: center;
  }

  .logo-large{
    display: block;
    margin: 0px auto;
    padding-top: 60px;
  }
}

.top-bar{
  background-color: $black;
  position: relative;

  .logo-small{
    width: 60px;
    margin: 10px 10px 10px 20px;
  }

  .top-bar-nav{
    position: absolute;
    right: 10px;
    top: 0px;
    display: flex;
    width: 310px;
    height: 100%;
    align-items: center;
  }

  .normal-link{
    flex:1;
  }

  .social-link{
    flex: .25;
  }

  .top-bar-nav a{
    color: white;
  }
}

.fs-container{
  min-height: 100vh;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.footer-nav{
  background-color: black;
  position: relative;
  height: 50px;

  .top-bar-nav{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .normal-link{
    flex: 1;
  }

  .social-link{
    flex: .25;
  }

  .social-link a, .normal-link a{
    color: white;
  }

  .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    color: white;
  }
}

#about{
  background-image: url('../images/about-bg.jpg');
  background-size: cover;
  background-position: top right;

  .headshot {
    width: 200px;
    border: 8px solid white;
    border-bottom: 40px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    transform: rotate(-2deg);
    display: block;
    margin: 50px auto;
  }

  .headshot-div{
    min-height: 100vh;
    position: relative;
  }

  .tech-skills{
    position: absolute;
    bottom: 0;
    height: 44%;
    background-color: $orange;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .tech{
    width: 50px;
    display: block;
    margin: 0 auto;
    font-family: 'Lora', serif;
  }
}
