
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Istok Web', sans-serif;
}

p, a {
  font-family: 'Lora', serif;
}

// Color Palette
$grey: #44454A;
$gold: #877350;
$orange: #A25016;
$white: #FFFFFF;
$black: #000000;

// Fonts
// @font-face {
//   font-family: 'Istok Web', sans-serif;
//   name: 'Istok';
// }
//
// @font-face {
//   font-family: 'Lora', serif;
//   name: 'Lora';
// }

// Custom helper classes

.white {
  color: $white;
}

.max-height{
  height: 100%;
}
// Web site styles

#app {
  // Background pattern by Carlos Aguilar, found on https://subtlepatterns.com/page/3/
  background-image: url('../images/footer_lodyas.png');
}

.banner{
  position: relative;

  .main-img-container{
    min-height: calc(100vh - 82px);
    // background-image: url('https://unsplash.it/g/1170/513/?blur');
    // background-position: center center;
    // background-size: cover;
    // background-color: $grey;
    height: 100%;
  }

  .fa-chevron-down{
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: $white;
  }

  .tagline{
    color: $orange;
    text-align: center;
  }

  .logo-large{
    display: block;
    margin: 0px auto;
    padding-top: 60px;
  }
}

.top-bar{
  background-color: $black;
  position: relative;
  height: 80px;

  .logo-small{
    width: 60px;
    margin: 10px 10px 10px 20px;
  }

  .top-bar-nav{
    position: absolute;
    right: 10px;
    top: 0px;
    display: flex;
    width: 310px;
    height: 100%;
    align-items: center;
  }

  .normal-link{
    flex:1;
  }

  .social-link{
    flex: .25;
  }

  .top-bar-nav a{
    color: white;
  }
}

.fs-container{
  min-height: 100vh;
}

.footer-nav{
  background-color: black;
  position: relative;
  height: 50px;

  .top-bar-nav{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .normal-link{
    flex: 1;
  }

  .social-link{
    flex: .25;
  }

  .social-link a, .normal-link a{
    color: white;
  }

  .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    color: white;
    margin: 0px;
  }
}

#about{
  background-image: url('../images/about-bg.jpg');
  background-size: cover;
  background-position: top right;
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  margin-bottom: 30px;

  .headshot {
    width: 260px;
    border: 8px solid white;
    border-bottom: 60px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    transform: rotate(-2deg);
    display: block;
    margin: 50px auto;
  }

  .headshot-div{
    min-height: 100vh;
    position: relative;
  }

  .tech-skills{
    position: absolute;
    bottom: 10px;
    height: 40%;
    background-color: $orange;
    // border-top-left-radius: 12px;
    // border-top-right-radius: 12px;
    border-radius: 12px;
  }

  .tech-toolbox-header{
    border-bottom: 2px solid $white;
  }

  .tech-list{
    display: flex;
    width: 100%;
  }

  .tech-tool{
    width: 33%;
    color: $white;
    font-family: 'Lora', serif;
    text-align: center;
  }
}

#projects{
  padding-bottom: 30px;

  .btn{
    white-space: normal;
  }

  .project-image-container{
    min-height: 100vh;
    background-image: url('../images/project-image-example.jpg');
    background-size: cover;
    background-position: center center;
  }

  .projects-header{
    font-size: 60px;
  }

  .projects-header:first-child{
    padding-top: 40vh;
  }

  .project-description-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project{
    height: (100vh * .3);
  }

  .project-thumbnail{
    height: 100%;
  }

  .project-description{
    height: 100%;
    overflow-y: scroll;
    // overflow: clip;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    background-color: white;
  }

  .star-wars{
    transition: all .1s ease-in;
    transform-origin: top right;
  }

  .github{
    transition: all .1s ease-in;
    transform-origin: center right;
  }

  .the-standings{
    transition: all .1s ease-in;
    transform-origin: bottom right;
  }

  .project:hover{
    transform: scale(1.5);
    z-index: 5;
    border: 3px solid $orange;
    border-radius: 6px;
    padding: 0;
  }

  .btn-success{
    background-color: rgba(0,0,0,0);
    border: 3px solid $orange;
    margin-bottom: 20px;
    color: inherit;
    padding: 6px;
  }

  .btn-success:hover{
    background-color: $orange;
    color: $white;
  }

  .star-wars-wg-thumbnail{
    background-image: url('../images/star-wars-screenshot.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
  }

  .github-replica-thumbnail{
    background-image: url('../images/github-screenshot.png');
    background-size: cover;
  }

  .the-standings-thumbnail{
    background-image: url('../images/the-standings-screenshot.png');
    background-size: cover;
  }

  .tech-div{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .tech{
    width: 33.33%;
    text-align: center;
    // flex: 1;
  }

  .technologies-used{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $grey;
  }
}

#contact{
  min-height: calc(100vh - 50px);
  background-image: url('../images/the-babies.jpg');
  background-size: cover;
  box-shadow: 0 -3px 8px rgba(0,0,0,.5);

  .contact-header{
    margin: 10vh 0 20vh 0;
    font-size: 60px;
  }

  .fa{
    font-size: 40px;
    color: white;
    padding: 30px;
    background-color: $orange;
    border-radius: 100px;
    transition: all .25s ease-out;
  }

  .fa:hover{
    padding: 40px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 991px){
  .logo-small{
    display: none;
  }

  .banner .logo-large{
    padding-top: 8px;
    width: 150px;
  }

  .banner .main-img-container{
    margin-top: 100px;
  }

  .top-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .top-bar .top-bar-nav{
    position: static;
    padding: 0 12px;
    width: 100%;
  }

  #about{
    .tech-skills{
      position: static;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  #projects{
    .project-image-container{
      margin-bottom: 30px;
    }

    .project-description-container{
      display: block;
    }

    .btn{
      white-space: normal;
    }

    .project{
      height: auto;
      transition: none;
      margin-bottom: 30px;
    }

    .project:hover{
      transform: none;
      border: none;
      padding-left: 15px;
      padding-right: 15px;
    }

    .project-thumbnail{
      height: 30vh;
      border-bottom: 1px solid $grey;
    }

    .tech-div{
      margin-bottom: 10px;
    }
  }

  #contact{
    min-height: calc(-50px);

    .contact-header{
      margin-bottom: 10vh;
    }
  }

  .copyright{
    display: block;
    text-align: center;
    padding: 0;
  }

  .footer-nav .top-bar-nav{
    display: none;
  }
}
